@import "tailwindcss";

@layer utilities {
  .drag-region {
    -webkit-app-region: drag;
  }
  .no-drag {
    -webkit-app-region: no-drag;
  }
  
  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
  
  .hide-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

body {
  background-color: transparent !important; /* To respect WPF transparent form */
  overflow: hidden; /* Desktop fixed window container */
  user-select: none;
  -webkit-user-select: none;
}

input, textarea {
  user-select: auto;
  -webkit-user-select: auto;
}
